<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home"
            >Página Principal</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<body>
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_1280.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://www.chiquipedia.com/imagenes/imagenes-vida.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://cdn.pixabay.com/photo/2015/04/23/21/59/tree-736875_640.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExample"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExample"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="container-fluid">
    <div class="row p-5 pb-2 bg-dark text-white">
      <div class="col-xs-12 col-md-6 col-lg-3">
        <p class="h3">Desarrollador</p>
        <p class="text-secondary">Nombre: Miguel Ángel Hernández Solís</p>
        <p class="text-secondary">Dirección: Av.Guadalupe #32</p>
        <p class="text-secondary">
          Carrera: Desarrollo de Software Multiplataforma
        </p>
        <p class="text-secondary">Materia: Aplicaciones Web para I4.0</p>
        <p class="text-secondary">Grupo: GDS0452</p>
        <p class="text-secondary">No.Control: 1220100587</p>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-3">
        <p class="h3">Estudios</p>
        <p class="text-secondary">
          Universidad: Universidad Tecnológica del Norte de Guanajuato
        </p>
        <p class="text-secondary">Dirección: Educación Tecnológica #34</p>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-3">
        <p class="h3">Contacto</p>
        <p class="text-secondary">Correo: miguehdzss29@gmail.com</p>
        <p class="text-secondary">Teléfono: 4181446580</p>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-3">
        <p class="h3">Redes</p>
        <p class="text-secondary">Instagram: @mictlangelo</p>
        <p class="text-secondary">Twitter: @mictlangelo</p>
      </div>
    </div>
  </div>
</body>
